<div class="mx-auto flex flex-col md:justify-between gap-8 md:gap-16 rounded my-8">
  <div class="bg-gray-50 p-6 rounded-lg shadow-md md:w-full">
    <h2 class="text-2xl font-bold text-center mb-8">Nowe pytanie</h2>

    <div class="mb-4">
      <label class="block pb-2 mb-2 border-b-2 border-b-indigo-600">
        Treść pytania:
      </label>
      <textarea
        [(ngModel)]="newQuestion.text"
        class="w-full p-2 border rounded"
        placeholder="Wpisz treść pytania"
      ></textarea>
    </div>

    <div class="mb-4">
      <label class="block pb-2 mb-2 border-b-2 border-b-indigo-600">
        Opcje odpowiedzi:
      </label>
      <div *ngFor="let option of newQuestion.options; let i = index" class="mb-2">
        <div class="flex gap-2">
          <textarea
            [(ngModel)]="option.value"
            class="flex-1 p-2 border rounded"
            [placeholder]="'Opcja ' + (i == 0 ? 'A' : i == 1 ? 'B' : i == 2 ? 'C' : 'D')"></textarea>
          <button
            *ngIf="newQuestion.options.length > 2"
            (click)="removeOption(i)"
            class="px-3 py-1 bg-red-500 text-white rounded hover:bg-red-600"
          >
            ×
          </button>
        </div>
      </div>
      <button
        *ngIf="newQuestion.options.length < 4"
        (click)="addOption()"
        class="mt-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
      >
        Dodaj kolejną opcję
      </button>
    </div>

    <div class="mb-4">
      <label class="block pb-2 mb-2 border-b-2 border-b-indigo-600">
        Poprawna odpowiedź:
      </label>
      <select
        [(ngModel)]="newQuestion.correctAnswer"
        class="w-full p-2 border rounded"
      >
        <option value="" disabled>
          Wybierz poprawną odpowiedź
        </option>
        <option *ngFor="let option of newQuestion.options" [value]="option.value">
          {{option.value}}
        </option>
      </select>
    </div>

    <button
      (click)="addQuestion()"
      [disabled]="!isValidQuestion()"
      class="w-full px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 disabled:bg-gray-400"
    >
      Zatwierdź pytanie
    </button>
  </div>

  @if (questions.length > 0) {
    <div class="bg-gray-50  p-6 rounded-lg shadow-md md:w-full overflow-auto">
      <h3 class="text-2xl font-bold text-center mb-8 break-words">
        Podgląd dodanych pytań
      </h3>
      @for (question of questions; let i = $index; track i) {
      <div  class="bg-gray-50  p-4 mb-2 border-b border-b-indigo-600">
        <p class="font-bold break-words w-full">{{i + 1}}. {{question.text}}</p>
        <ul class="ml-4">
          @for (option of question.options; track option) {
          <li class="mt-1 break-words"
              [ngClass]="{'text-green-500': option.value === question.correctAnswer}">
          <span class="text-sm ">
            {{option.id === 0 ? 'a' : option.id === 1 ? 'b' : option.id === 2 ? 'c' : 'd'}})
          </span>
            {{option.value}}
            @if (option.value === question.correctAnswer) {
              <span>✓</span>
            }
          </li>
          }
        </ul>
      </div>
      }
    </div>
  }



</div>
