<div class="mx-auto flex flex-col md:gap-24 bg-white">

  <app-quiz-page></app-quiz-page>

    <div class="container mx-auto flex flex-col lg:flex-row md:gap-24 md:p-6 bg-white my-8">
      <div class="container flex flex-col gap-8 p-6">
        <h1 class="text-4xl font-bold md:text-center text-indigo-600">
          Nauka przez quizy – szybko, skutecznie, interaktywnie!
        </h1>

        <p class="text-lg text-gray-700 leading-relaxed text-justify">
          W szybko zmieniającym się świecie efektywna nauka jest kluczowa. Nasza aplikacja quizowa to nowoczesne narzędzie do szybkiego i interaktywnego przyswajania wiedzy. Umożliwia tworzenie, zapisywanie i udostępnianie quizów, co sprawia, że jest idealna do testów, egzaminów i treningów, wspierając proces edukacyjny na każdym etapie.
        </p>
      </div>
      <span class="learning md:block w-full min-h-[20rem]"></span>
    </div>


  <div class="container mx-auto flex flex-col-reverse lg:flex-row gap-12 px-6 py-12 md:gap-20">
    <!-- Advantages Section -->
    <span class="advantages block w-full min-h-[20rem]"></span>

    <!-- Content Section -->
    <div class="w-full flex flex-col gap-8">
      <h2 class="text-4xl font-bold text-indigo-800">
        Dlaczego warto korzystać z quizów?
      </h2>
      <p class="text-lg text-gray-700 leading-relaxed">
        Quizy to nie tylko sposób na sprawdzenie wiedzy, ale także efektywna metoda nauki. Dzięki nim można:
      </p>

      <!-- Engagement Benefit -->
      <div class="space-y-2">
        <h3 class="text-2xl font-semibold text-indigo-800">
          Zwiększyć zaangażowanie
        </h3>
        <p class="text-lg text-gray-700 leading-relaxed">
          Interaktywne pytania przyciągają uwagę i sprawiają, że nauka staje się przyjemnością.
        </p>
      </div>

      <!-- Retention Benefit -->
      <div class="space-y-2">
        <h3 class="text-2xl font-semibold text-indigo-800">
          Ułatwić zapamiętywanie
        </h3>
        <p class="text-lg text-gray-700 leading-relaxed">
          Powtarzanie informacji w formie quizów sprzyja lepszemu przyswajaniu wiedzy.
        </p>
      </div>

      <!-- Personalized Learning Benefit -->
      <div class="space-y-2">
        <h3 class="text-2xl font-semibold text-indigo-800">
          Dostosować tempo nauki
        </h3>
        <p class="text-lg text-gray-700 leading-relaxed">
          Użytkownicy mogą uczyć się we własnym tempie, co jest kluczowe dla efektywności nauki.
        </p>
      </div>
    </div>
  </div>
</div>
