.advantages {
  background: url("../../assets/images/advantages.png") no-repeat center center;
  background-size: contain;
}
.functionality {
  background: url("../../assets/images/functionality.png") no-repeat center center;
  background-size: contain;
}

.learning {
  background: url("../../assets/images/learning.png") no-repeat center center;
  background-size: contain;
}
